/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background: #E2E3E4;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul a,
nav .brand-logo {
  color: #ef6c00;
}

a.sidenav-trigger i {
  color: #ef6c00;
}
#p {
  line-height: 2rem;
  text-align: justify;
}

.grey-text {
  text-align: justify;
}

.sidenav-trigger {
  color: #E2E3E4;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #E2E3E4;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;

}

.amber {
 background: url('#');
  background-repeat: no-repeat;
  background-size: cover;
}

 #leg, #arms, #abs, #workout, #arms2line, #abs2line {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
  background-repeat: no-repeat;
  background-size: cover;

}

#calltoAction, #calltoAction2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;

}

#leg1 {
  color: #b7f00c
}

.card-panel {
background-color:  #e2e3e4;
border-radius: 20px;
}

iframe {

  font-size: 3.56rem;
  line-height: 110%;
  margin: 6rem 0 1.5rem 0;
}

h4 {
  font-weight: bolder;
}

h1 {
 text-align: center
}

.carousel-item{
  /* background: #790103; */
  background: #ef6c00;
}

#containerx {
  border-radius: 6px;
background: #ef6c00;

}

#weight, #height {
border: 0;
  text-decoration: none;
}
