/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background: #E2E3E4;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul a,
nav .brand-logo {
  color: #ff8f00;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #E2E3E4;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #E2E3E4;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.amber {
 background: url('#');
  background-repeat: no-repeat;
  background-size: cover;

}
 #leg, #arms, #abs, #head{
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 70px;
  background-repeat: no-repeat;
  background-size: cover;

}
